.App {
align-items: center;
  text-align: center;
  margin-top: 10%;

}
body{
  background-color: rgb(13, 13, 59);
  color: aliceblue;
  padding: 20px;
}
.tip-contain{
  border: red 4px solid;;
  margin: auto;
  width: 50%;
  padding: 10px;

}
label{
  display: block;
  text-transform: uppercase;
  font-size: medium;
  line-height: normal;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
input[type="text"]{
  background:transparent;
  border: 0;
  margin-bottom: 10px;
  color: aliceblue;
  padding: 10px;
}

